# This file is used to define environment variables to be used
# for variable substitution in your docker compose file.
# https://docs.docker.com/compose/env-file/

#
# MANDATORY
# /!\ if this variables are unset, the mail server will not start.
#

### Settings

# Your domain name (eg. domain.tld)
MAILSERVER_DOMAIN=example.com



#
# NOT MANDATORY
#

# Your mailserver hostname (eg. mail for mail.domain.tld)
MAILSERVER_HOSTNAME=mail



# Docker volumes parent folder
VOLUMES_ROOT_PATH=/opt/mail

# Docker containers restart mode
# https://docs.docker.com/compose/compose-file/#restart
RESTART_MODE=always

### Versions:
# Mailserver version
MAILSERVER_DOCKER_TAG=latest
MAIRADB_DOCKER_TAG=10
POSTFIXADMIN_DOCKER_TAG=3
ROUNDCUBE_DOCKER_TAG=latest
REDIS_DOCKER_TAG=7-alpine


### Sectrets(can Automatic generate by gen-passwords.sh):

# Rspamd WebUI and controller password
RSPAMD_PASSWORD=

# Main Database Password
DATABASE_USER_PASSWORD=

# Webmail Database Password
WEBMAIL_DATABASE_USER_PASSWORD=

POSTFIXADMIN_SETUP_PASSWORD=

